form(class='form-horizontal')
	.form-group
		label(
			for='email'
			class='col-sm-2 control-label'
		) Email

		.col-sm-10
			input(
				type='email'
				class='form-control'
				name='email'
				placeholder='Email'
			)

	.form-group
		label(
			for='password'
			class='col-sm-2 control-label'
		) Password

		.col-sm-10
			input(
				type='password'
				class='form-control'
				name='password'
				placeholder='Password'
			)

	.form-group
		label(
			for=''
			class='col-sm-2 control-label'
		)

		.col-sm-10
			input(
				type='submit'
				class='btn btn-primary'
			)